<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nls.Base97.Properties.Settings.Nlsy97ConnectionStringBase"
            connectionString="Data Source=GIMBLE\Express_2016;Initial Catalog=NlsyLinks97;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>