<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Nls.Base79.Properties.Settings.Nlsy79ConnectionStringBase"
            connectionString="Data Source=gimble\express_2016;Initial Catalog=NlsyLinks79;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
