use [NlsyLinks97]
SELECT COUNT(*) as [Process.tblRoster]  FROM [Process].[tblRoster]               --  DELETE FROM [Process].[tblRoster]
SELECT COUNT(*) as [Process.tblMarker]  FROM [Process].[tblMarker]               --  DELETE FROM [Process].[tblMarker]
SELECT COUNT(*) as [Process.tblRelatedValues]  FROM [Process].[tblRelatedValues] --  DELETE FROM [Process].[tblRelatedValues]