<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinksGui.Properties.Settings.Nlsy79ConnectionStringGui"
            connectionString="Data Source=GIMBLE\express_2016;Initial Catalog=NlsyLinks79;Integrated Security=True;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
        <add name="LinksGui.Properties.Settings.Nlsy97ConnectionStringGui"
            connectionString="Data Source=GIMBLE\express_2016;Initial Catalog=NlsyLinks97;Integrated Security=True;Connect Timeout=60" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
