<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="DatabaseUnitTesting" type="Microsoft.Data.Schema.UnitTesting.Configuration.DatabaseUnitTestingSection, Microsoft.Data.Schema.UnitTesting, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </configSections>
    <DatabaseUnitTesting>
        <DataGeneration ClearDatabase="true"/>
        <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=BEE\BASS;Initial Catalog=NlsLinks;Persist Security Info=True;User ID=NlsyReadWrite;Password=nophi;Connect Timeout=60" CommandTimeout="30"/>
        <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=BEE\BASS;Initial Catalog=NlsLinks;Persist Security Info=True;User ID=NlsyReadWrite;Password=nophi;Connect Timeout=60" CommandTimeout="30"/>
    </DatabaseUnitTesting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
